<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="{{ path('index') }}">100% Pur Jus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('index') }}">Accueil</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('product_create') }}">Ajouter</a>
            </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('product_list') }}">Liste Produits</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('category_index') }}">Liste Catégories</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
            <div class="dropdown">
                <button class="btn-sm btn-success rounded-circle dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon compte
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Hello {{app.user.username}} !</a>
                    <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
                </div>
            </div>
            {% else %}
            <li class="nav-item active">
                <a class="btn-sm btn-success rounded-circle" href="{{ path('login') }}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
